.modal-dialog-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - (1.75rem * 2)); /* Adjust based on your modal's padding */
}

.modal-content {
    width: 100%;
    /* max-width: 500px; */
}

.modal-title {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.modal-button {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem; /* Add space between the buttons */
}
